* {
  box-sizing : border-box;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.app-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.app-title {
  text-align: center;
  color: #2b2b2b;
  margin-top: 0;
}

button {
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover{
  background-color: #2dfa31;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.surprise-btn:hover{
  width: 100%;
  background-color: #ac2cfc;
}

.add-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
}

.grocery-list {
  list-style: none;
  padding: 0;
}

.grocery-item {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.plus-btn {
  margin-left: auto;
  margin-right: 10px;
}

.delete-btn {
}

.delete-btn:hover{
  background-color: #f61f1f;
}

.plus-btn:hover{
  background-color: #1594f5;
}